*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body{
  overflow-x: hidden;
  color: var(--corSecundaria);
}
:root{
  --corPrimaria: rgb(255, 255, 255);
  --corSecundaria: rgb(138, 92, 192);
}
#textDefault{
  color: var(--corSecundaria);
  font-size: 22px;
  font-weight: 450;
}
.header {
  background-color: white;
  color: var(--corSecundaria);

  height: 12vh;
  width: 100vw;

  display: flex;
  justify-content: space-around;
  align-items: center;
}
.header .textLogo h3 a {
  text-decoration: none;
  color: var(--corSecundaria);
}
a {
  text-decoration: none;
  color: var(--corSecundaria);
}
#textLogo {
  font-family: 'Freehand', cursive;
  font-size: 27px;
  font-weight: 450;
}
.content{
    height: 88vh;
    width: 100vw;

    display: flex;
    justify-content: center;
    align-items: center;

    flex-wrap: wrap;
}
.tamHeight{
  height: 88vh;

  display: flex;
  justify-content: center;
  align-items: center;

  flex-wrap: wrap;
}
.content .left{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

    text-align: justify;

    width: 50vw;
    height: 60vh;

    border-right: 1px solid var(--corSecundaria);
}
.content .contentLeft{
    display: flex;
    flex-direction: column;
    width: 30vw;
    gap: 3vh;
}
.content .left #title{
    color: var(--corSecundaria);
    font-size: 50px;
}
.content .left #text{
    color: var(--corSecundaria);
    font-size: 23px;
}
.content .btnContent{
    width: 27vw;
    height: 7vh;
    border: 1px solid var(--corSecundaria);

    background-color: white;
    color: var(--corSecundaria);

    font-size: 18px;

    box-shadow: 5px 5px 4px rgb(129, 63, 206);

    transition: width 1.1s;
}
.content .btnContent:hover{
  background-color: var(--corSecundaria);
  color: var(--corPrimaria);
  width: 30vw;
}
.content .rigth{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

    text-align: justify;

    width: 50vw;
    height: 60vh;

    border-right: 1px solid var(--corSecundaria);
}
.adm{
  display: flex;
  justify-content: center;
  align-items: center;

  flex-direction: column;

  gap: 3vh;
}
.btnModal{
    width: 3rem;
    height: 3rem;
    border: 1px solid var(--corSecundaria);

    background-color: white;
    color: var(--corSecundaria);

    font-size: 30px;
    font-weight: 300;

    display: flex;
    justify-content: center;
    align-items: center;

    box-shadow: 5px 5px 4px rgb(129, 63, 206);
}
.btnModal:hover{
  background-color: var(--corSecundaria);
  color: var(--corPrimaria);
}
form{
  display: flex;
  justify-content: center;
  align-items: center;

  flex-direction: column;

  gap: 3vh;
}
input{
  width: 30vw;
  height: 3.5vh;
  outline: none;
  border: 1px solid var(--corSecundaria);

  padding: 10px;

  transition: width 1s;
}
input:focus{
  width: 35vw;
}
input::placeholder{
  color: var(--corSecundaria);
  font-size: 17px;
}
.buttonForm{
  width: 30vw;
  height: 5.5vh;
  border: 1px solid var(--corSecundaria);

  background-color: white;
  color: var(--corSecundaria);

  font-size: 18px;

  box-shadow: 5px 5px 4px rgb(129, 63, 206);

  transition: width 1s;
}
.buttonForm:hover{
  background-color: var(--corSecundaria);
  color: var(--corPrimaria);
  width: 35vw;
}
.forms{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;

  gap: 7vh;

  margin-top: 10vh;
}
form select{
  width: 30vw;
  height: 3.5vh;
  outline: none;
  border: 1px solid var(--corSecundaria);

  color: var(--corSecundaria);

  transition: width 1s;
}
form select:focus{
  width: 35vw;
}
#text{
  color: var(--corSecundaria);
}
.footer{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;

  flex-wrap: wrap;

  width: 100vw;
  gap: 2vh;
  padding: 2rem;
}

.footer #textFooter{
  color: var(--corSecundaria);
  font-weight: 450;
}
.footer .icons{
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  width: 12rem;
}
#labelForm{
  font-size: 18px;
  color: var(--corSecundaria);
  font-weight: 400;
}
textarea{
  resize: none;
  width: 30vw;
  height: 25vh;
  padding: 1rem;

  border: 1px solid var(--corSecundaria);

  transition: width 1s;

  outline: none;
}
textarea:focus{
  width: 35vw;
}
textarea::placeholder{
  color: var(--corSecundaria);
  font-size: 17px;
}
#fileToUpload{
  width: 30vw;
  height: auto;
  outline: none;
  border: 1px solid var(--corSecundaria);

  padding: 10px;

  transition: width 1s;
}
#fileToUpload:focus{
  width: 35vw;
}
#textFooter{
  font-family: 'Freehand', cursive;
  font-size: 30px;
  font-weight: 450;
}
.card1{
  border: 1px solid var(--corSecundaria);
  border-radius: 5px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;

  width: 22rem;

  gap: 0.5vh;
  padding: 1rem;

  margin-top: 1rem;
}
.editar{
  display: flex;
  justify-content: center;
  align-items: center;

  flex-direction: column;

  gap: 3vh;
}
.formEdit select{
  width: 20rem;
  height: 3.5vh;
  outline: none;
  border: 1px solid var(--corSecundaria);

  color: var(--corSecundaria);

  transition: width 1s;
}
.formEdit select:focus{
  width: 22rem;
}
.buttonFormEdit{
  width: 20rem;
  height: 5.5vh;
  border: 1px solid var(--corSecundaria);

  background-color: white;
  color: var(--corSecundaria);

  font-size: 18px;

  box-shadow: 5px 5px 4px rgb(129, 63, 206);

  transition: width 1s;
}
.buttonFormEdit:hover{
  background-color: var(--corSecundaria);
  color: var(--corPrimaria);
  width: 22rem;
}
.formEdit{
  display: flex;
  justify-content: center;
  align-items: center;

  flex-direction: column;

  gap: 3vh;
}
.formEdit input{
  width: 30vw;
  height: 3.5vh;
  outline: none;
  border: 1px solid var(--corSecundaria);

  padding: 10px;

  transition: width 1s;
}
.formEdit input:focus{
  width: 22rem;
}
.formEdit input::placeholder{
  color: var(--corSecundaria);
  font-size: 17px;
}